html
body {
    margin: 0%;
}

div {
    border: 1px red;
    padding: 10 px
}

.abs-no-parent {
background-color: plum;
position: absolute;
top: 20px;
right: 100px;
}

.rel-parent {
background-color: purple;
width: 50%;
height: 100vh;
position:relative
}

.abs-relative-parent {
   background-color: powderblue;
   width: 200px;
   height: 200px;
   position: absolute;
   bottom:10px
}
